.container {
  composes: container from "bootstrap-css/lib/grid.css";
}

.appHeading {
  composes: jumbotron from "bootstrap-css/lib/jumbotron.css"
}

header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: darkgoldenrod;
  margin: 30px;
}